<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->

    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <!-- User Profile-->
                    <li>
                        <!-- User Profile-->
                        <div class="user-profile dropdown m-t-20">

                        </div>
                        <!-- End User Profile-->
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           th:href="@{/}" aria-expanded="false">
                            <i class="mdi mdi-home-outline"></i>
                            <span class="hide-menu">Home</span>
                        </a>
                    </li>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="sidebar-item" sec:authorize="hasRole('MAKE_UP_CLASS') or hasRole('EVENT')">
                            <a th:href="@{/book}" class="sidebar-link waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="mdi mdi-book"></i>
                                <span class="hide-menu">Book Room</span>
                            </a>
                            <!--<ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item" sec:authorize="hasRole('MAKE_UP_CLASS')">
                                    <a th:href="@{/book/makeup}" class="sidebar-link">
                                        <i class="mdi mdi-octagram"></i>
                                        <span class="hide-menu" style="margin-left: 10px; font-style: italic"> Makeup Class</span>
                                    </a>
                                </li>
                                <li class="sidebar-item" sec:authorize="hasRole('EVENT')">
                                    <a th:href="@{/event/add}" class="sidebar-link">
                                        <i class="mdi mdi-octagram"></i>
                                        <span class="hide-menu" style="margin-left: 10px; font-style: italic"> Event</span>
                                    </a>
                                </li>

                            </ul>-->
                        </li>
                        <li class="sidebar-item" sec:authorize="hasRole('MASTER_DATA_MENU')">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="mdi mdi-notification-clear-all"></i>
                                <span class="hide-menu">Master Data</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a th:href="@{/room}" class="sidebar-link">
                                        <i class="mdi mdi-octagram"></i>
                                        <span class="hide-menu" style="margin-left: 10px; font-style: italic"> Room</span>
                                    </a>
                                    <a th:href="@{/student}" class="sidebar-link">
                                        <i class="mdi mdi-octagram"></i>
                                        <span class="hide-menu" style="margin-left: 10px; font-style: italic"> Students</span>
                                    </a>
                                    <a th:href="@{/studyprogram}" class="sidebar-link">
                                        <i class="mdi mdi-octagram"></i>
                                        <span class="hide-menu" style="margin-left: 10px; font-style: italic"> Study Program</span>
                                    </a>
                                    <a th:href="@{/subject}" class="sidebar-link">
                                        <i class="mdi mdi-octagram"></i>
                                        <span class="hide-menu" style="margin-left: 10px; font-style: italic"> Subjects</span>
                                    </a>
                                        <a th:href="@{/lecturer}" class="sidebar-link">
                                            <i class="mdi mdi-octagram"></i>
                                            <span class="hide-menu" style="margin-left: 10px; font-style: italic"> Lecturers</span>
                                        </a>
                                        <a th:href="@{/event}" class="sidebar-link">
                                            <i class="mdi mdi-octagram"></i>
                                            <span class="hide-menu" style="margin-left: 10px; font-style: italic"> Events</span>
                                        </a>
                                </li>
                            </ul>

                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a th:href="@{/event}" class="sidebar-link">
                                        <i class="mdi mdi-octagram"></i>
                                        <span class="hide-menu" style="margin-left: 10px; font-style: italic"> Subject</span>
                                    </a>
                                </li>
                            </ul>


                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               th:href="@{/user}" aria-expanded="false">
                                <i class="mdi mdi-account-multiple"></i>
                                <span class="hide-menu">User</span>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
</html>