<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->
<!--            <style>-->
<!--                .badge {-->
<!--                position: absolute;-->
<!--                top: 10px;-->
<!--                right: 5px;-->
<!--                padding: 2px 6px;-->
<!--                border-radius: 50%;-->
<!--                background: red;-->
<!--                color: white;-->
<!--                font-size: 8px;-->
<!--                }-->
<!--            </style>-->

    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i class="ti-menu ti-close"></i>
                </a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" th:href="@{/}">
                    <!-- Logo icon -->
                    <b class="logo-icon">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img th:src="@{/assets/images/logo-icon.png}" alt="homepage" class="dark-logo" />
                        <!-- Light Logo icon -->
                        <img th:src="@{/assets/images/e-sewabmn-icon.png}" alt="homepage" class="light-logo" />
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                        <!-- dark Logo text -->
                        <img th:src="@{/assets/images/logo-text.png}" alt="homepage" class="dark-logo" />
                        <!-- Light Logo text -->
                        <img th:src="@{/assets/images/logo-light-text.png}" class="light-logo" alt="homepage" />
                    </span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
                   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="ti-more"></i>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                            <i class="sl-icon-menu font-20"></i>
                        </a>
                    </li>
                    <!-- ============================================================== -->
                    <!-- mega menu -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- End mega menu -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Comment -->
                    <!-- ============================================================== -->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                            <i class="ti-bell font-20"></i>-->

<!--                        </a>-->
<!--                        <div class="dropdown-menu mailbox animated bounceInDown">-->
<!--                            <span class="with-arrow">-->
<!--                                <span class="bg-primary"></span>-->
<!--                            </span>-->
<!--                            <ul class="list-style-none">-->
<!--                                <li>-->
<!--                                    <div class="drop-title bg-primary text-white">-->
<!--                                        <h4 class="m-b-0 m-t-5">4 New</h4>-->
<!--                                        <span class="font-light">Notifications</span>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <div class="message-center notifications">-->
<!--                                        &lt;!&ndash; Message &ndash;&gt;-->
<!--                                        <a href="javascript:void(0)" class="message-item">-->
<!--                                            <span class="btn btn-danger btn-circle">-->
<!--                                                <i class="fa fa-link"></i>-->
<!--                                            </span>-->
<!--                                            <div class="mail-contnet">-->
<!--                                                <h5 class="message-title">Minat Sewa</h5>-->
<!--                                                <span class="mail-desc">Minat sewa untuk BMN Sewa kantor di Semarang</span>-->
<!--                                                <span class="time">9:30 AM</span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                        &lt;!&ndash; Message &ndash;&gt;-->
<!--                                        <a href="javascript:void(0)" class="message-item">-->
<!--                                            <span class="btn btn-success btn-circle">-->
<!--                                                <i class="ti-calendar"></i>-->
<!--                                            </span>-->
<!--                                            <div class="mail-contnet">-->
<!--                                                <h5 class="message-title">Persetujuan Sewa</h5>-->
<!--                                                <span class="mail-desc">Just a reminder that you have event</span>-->
<!--                                                <span class="time">9:10 AM</span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                        &lt;!&ndash; Message &ndash;&gt;-->
<!--                                        <a href="javascript:void(0)" class="message-item">-->
<!--                                            <span class="btn btn-info btn-circle">-->
<!--                                                <i class="ti-settings"></i>-->
<!--                                            </span>-->
<!--                                            <div class="mail-contnet">-->
<!--                                                <h5 class="message-title">Settings</h5>-->
<!--                                                <span class="mail-desc">You can customize this template as you want</span>-->
<!--                                                <span class="time">9:08 AM</span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                        &lt;!&ndash; Message &ndash;&gt;-->
<!--                                        <a href="javascript:void(0)" class="message-item">-->
<!--                                            <span class="btn btn-primary btn-circle">-->
<!--                                                <i class="ti-user"></i>-->
<!--                                            </span>-->
<!--                                            <div class="mail-contnet">-->
<!--                                                <h5 class="message-title">Pavan kumar</h5>-->
<!--                                                <span class="mail-desc">Just see the my admin!</span>-->
<!--                                                <span class="time">9:02 AM</span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a class="nav-link text-center m-b-5" href="javascript:void(0);">-->
<!--                                        <strong>Check all notifications</strong>-->
<!--                                        <i class="fa fa-angle-right"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
                    <!-- ============================================================== -->
                    <!-- End Comment -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Messages -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a th:if="${userLogin!=null}" class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="font-20 ti-email"> </i>
                            <span th:if="${messageSewaList?.size()<100}" class="badge badge-default badge-danger form-text text-white float-right" th:text="${messageSewaList.size()}"></span>
                            <span th:unless="${messageSewaList?.size()<100}" class="badge badge-default badge-danger form-text text-white float-right">99+</span>

                        </a>
                        <div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2">
                            <span class="with-arrow">
                                <span class="bg-danger"></span>
                            </span>
                            <ul class="list-style-none">
                                <li>
                                    <div class="drop-title bg-danger text-white">
                                        <h4 class="m-b-0 m-t-5" th:text="${messageSewaList?.size()+' Baru'}"></h4>
                                        <span class="font-light">Pesan</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="message-center message-body" >
                                        <!-- Message -->
                                        <a th:each="m : ${messageSewaList}" th:if="${m.getJenis()==1}" href="javascript:void(0)" class="message-item">
                                            <span class="user-img">
                                                <img th:if="${m.getUser().getImage()!=null}" th:src="@{'/uploads/profil/'+${m?.getUser()?.getImage()}" alt="user" class="rounded-circle">
                                                <img th:unless="${m.getUser().getImage()!=null}" th:src="@{/assets/images/users/icon-person.png}" alt="user" class="rounded-circle">
                                                <span class="profile-status online pull-right"></span>
                                            </span>
                                            <div class="mail-contnet">
                                                <h5 class="message-title" th:text="${m?.getUser()?.getName()}"></h5>
                                                <span class="mail-desc" th:text="${m?.getSubject()}"></span>
                                                <span class="time" th:text="${m.getCreatedAt()}"></span>
                                            </div>
                                        </a>
                                        <a th:each="m : ${messageSewaList}" th:unless="${m.getJenis()==1}" href="javascript:void(0)" class="message-item">
                                            <span class="user-img">
                                                <img th:if="${m.getUser().getImage()!=null}" th:src="@{'/uploads/profil/'+${m?.getUser()?.getImage()}" alt="user" class="rounded-circle">
                                                <img th:unless="${m.getUser().getImage()!=null}" th:src="@{/assets/images/users/icon-person.png}" alt="user" class="rounded-circle">
                                                <span class="profile-status busy pull-right"></span>
                                            </span>
                                            <div class="mail-contnet">
                                                <h5 class="message-title" th:text="${m?.getUser()?.getName()}"></h5>
                                                <span class="mail-desc" th:text="${m?.getSubject()}"></span>
                                                <span class="time" th:text="${m.getCreatedAt()}"></span>
                                            </div>
                                        </a>

                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center link" th:href="@{'/messagesewa/'+${userLogin?.getId()}}">
                                        <b>See all e-Mails</b>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- End Messages -->
                    <!-- ============================================================== -->


                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-right">
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <li class="nav-item search-box">
                        <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
                            <i class="ti-search font-16"></i>
                        </a>
                        <form class="app-search position-absolute">
                            <input type="text" class="form-control" placeholder="Search &amp; enter">
                            <a class="srh-btn">
                                <i class="ti-close"></i>
                            </a>
                        </form>
                    </li>
                    <!-- ============================================================== -->
                    <!-- create new -->
                    <!-- ============================================================== -->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"-->
<!--                           aria-expanded="false">-->
<!--                            <i class="flag-icon flag-icon-us font-18"></i>-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu dropdown-menu-right  animated bounceInDown" aria-labelledby="navbarDropdown2">-->
<!--                            <a class="dropdown-item" href="#">-->
<!--                                <i class="flag-icon flag-icon-us"></i> English</a>-->
<!--                            <a class="dropdown-item" href="#">-->
<!--                                <i class="flag-icon flag-icon-fr"></i> French</a>-->
<!--                            <a class="dropdown-item" href="#">-->
<!--                                <i class="flag-icon flag-icon-es"></i> Spanish</a>-->
<!--                            <a class="dropdown-item" href="#">-->
<!--                                <i class="flag-icon flag-icon-de"></i> German</a>-->
<!--                        </div>-->
<!--                    </li>-->

                    <th:block sec:authorize="isAuthenticated()">

                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false" th:if="${userLogin !=null}">
                                <img th:if="${userLogin.getImage()!= null}" th:src="@{'/uploads/'+${userLogin.getImage()}}" alt="user" class="rounded-circle" width="31">
                                <img th:unless="${userLogin.getImage() !=null}" th:src="@{/assets/images/users/icon-person.png}" alt="user" class="rounded-circle" width="31">
                            </a>
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false" th:unless="${userLogin !=null}">
                                <img th:src="@{/assets/images/users/icon-person.png}" alt="user" class="rounded-circle" width="31">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <span class="with-arrow">
                                    <span class="bg-primary"></span>
                                </span>
                                <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                                    <div class="" th:unless="${userLogin !=null}">
                                        <img th:src="@{/assets/images/users/icon-person.png}" alt="user" class="rounded-circle" width="50">
                                    </div>
                                </div>
                                <a class="dropdown-item" th:href="@{/user/userprofile}">
                                    <i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                <div class="dropdown-divider"></div>
                                <div class="p-l-30 p-10">
                                    <a th:href="@{/logout}" class="btn btn-sm btn-danger btn-rounded"> <i class="fa fa-power-off m-r-5 m-l-5"></i> </a>
                                </div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                        <li class="nav-item dropdown">
                            <a class="nav-link waves-effect waves-dark" th:href="@{/login}">
                                <i class="fas fa-sign-in-alt font-16"></i>
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
</html>