<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/master}"
>
<head>
    <title>Book Form</title>
    <style>
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }
        .slick-slide {
            transition: all ease-in-out .3s;
            /*opacity: .2;*/
        }

    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/af.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
</head>

<th:block layout:fragment="page_css">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/plugins/slick/slick.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/plugins/slick/slick-theme.css}">


</th:block>
<style type="text/css">

</style>

<th:block layout:fragment="content">

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Booking Form</h4>
                        <h6 class="card-subtitle">---</h6>
                    </div>
                    <form class="form-horizontal"
                          th:action="@{/book/create}"
                          th:object="${data}"
                          method="post"
                          enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group row"
                                 th:classappend="${#fields.hasErrors('description') ? 'has-error' : ''}">
                                <label for="description-i" class="col-sm-3 text-right control-label col-form-label">Description</label>
                                <div class="col-9">
                                    <input type="text" class="form-control"
                                           name="description" id="description-i"
                                           th:field="*{description}"
                                           required
                                           placeholder="Description"
                                    >
                                    <div class="help-block with-errors" th:if="${#fields.hasErrors('description')}">
                                        <ul class="list-unstyled" th:each="v: ${#fields.errors('description')}">
                                            <li th:text="${v}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 th:classappend="${#fields.hasErrors('startDate') ? 'has-error' : ''}">
                                <label class="col-sm-3 text-right control-label col-form-label">Start Date Time</label>
                                <div class="col-9">
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                                        th:field="*{startDate}"
                                        required>
                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <div class="help-block with-errors" th:if="${#fields.hasErrors('startDate')}">
                                        <ul class="list-unstyled" th:each="v: ${#fields.errors('startDate')}">
                                            <li th:text="${v}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row"
                                 th:classappend="${#fields.hasErrors('endDate') ? 'has-error' : ''}">
                                <label class="col-sm-3 text-right control-label col-form-label">End Date Time</label>
                                <div class="col-9">
                                    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"
                                        th:field="*{endDate}"
                                        required>
                                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <div class="help-block with-errors" th:if="${#fields.hasErrors('endDate')}">
                                        <ul class="list-unstyled" th:each="v: ${#fields.errors('endDate')}">
                                            <li th:text="${v}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Event Type</label>
                                <div class="col-9">
                                    <select class="form-control" id="event-id"
                                            th:field="*{event}"
                                            name="event">
                                        <option th:each="e: ${typeeventList}" th:text="${e.getType()}"
                                                th:value="${e.getId()}"
                                                placeholder="type of event">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Study Program</label>
                                <div class="col-9">
                                    <select class="form-control" id="studyprogram-id" name="studyprogram"
                                            th:field="*{event}"
                                            >
                                        <option th:each="sp: ${typestudyprogramList}" th:text="${sp.getName()}"
                                                th:value="${sp.getId()}">
                                        </option>
                                    </select>
                                </div>
                            </div>-->
                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Room</label>
                                <div class="col-9">
                                    <select class="form-control" id="room-id" name="room"
                                            th:field="*{room}"
                                    >
                                        <option th:each="r: ${typeroomList}" th:text="${r.getName()}"
                                                th:value="${r.getId()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">


                            </div>
                        <div class="card-body">
                            <div class="form-group m-b-0 text-right">
                                <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                                <button type="button" class="btn btn-dark waves-effect waves-light" onclick="goBack()">Cancel</button>
                            </div>
                        </div>
                        </div>
                    </form>

                </div>
                <hr>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').datetimepicker();
        });
    </script>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</th:block>
</html>