<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/master}"
>
<head>
    <title>Beranda</title>
    <style>
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }
        .slick-slide {
            transition: all ease-in-out .3s;
            /*opacity: .2;*/
        }

    </style>
</head>

<th:block layout:fragment="page_css">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/plugins/slick/slick.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/plugins/slick/slick-theme.css}">
</th:block>
<style type="text/css">

</style>

<th:block layout:fragment="content">

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
             <div class="col-12">
                 <div class="card">
                     <div class="card-body">
                        <h4 class ="card-header"> Add Event</h4>

                     </div>

                     <form class="form-horizontal"
                           th:action="@{/event/create}"
                           th:object="${data}"
                           method="post"
                           enctype="multipart/form-data">
                         <div class="card-body">

                             <div class="form-group row"
                                  th:classappend="${#fields.hasErrors('type') ? 'has-error' : ''}">
                                 <label for="type_label_form" class="col-sm-3 text-right control-label col-form-label">Event</label>
                                 <div class="col-9">
                                     <input type="text" class="form-control"
                                            name="type" id="type_label_form"
                                            th:field="*{type}"
                                            required
                                            placeholder="Event"
                                     >
                                     <div class="help-block with-errors" th:if="${#fields.hasErrors('type')}">
                                         <ul class="list-unstyled" th:each="v: ${#fields.errors('type')}">
                                             <li th:text="${v}">
                                             </li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>



                             <div class="card-body">
                                 <div class="form-group m-b-0 text-right">
                                     <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                                     <button type="button" class="btn btn-dark waves-effect waves-light"onclick="goBack()">Cancel</button>
                                 </div>
                             </div>
                     </form>

                 </div>
             </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</th:block>

</html>