<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/master}"
>
<head>
    <title>Add Room</title>
    <style>
        .slick-prev:before,
        .slick-next:before {
            color: black;
        }
        .slick-slide {
            transition: all ease-in-out .3s;
            /*opacity: .2;*/
        }

    </style>
</head>

<th:block layout:fragment="page_css">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/plugins/slick/slick.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/dist/plugins/slick/slick-theme.css}">
</th:block>
<style type="text/css">

</style>

<th:block layout:fragment="content">

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Subject</h4>
                        <h6 class="card-subtitle">Adding Subject Form </h6>
                    </div>
                    <form class="form-horizontal"
                          th:action="@{/studyprogram/subject/create}"
                          th:object="${data}"
                          method="post"
                          enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Subject</label>
                                <div class="col-9">
                                    <select class="form-control" id="subject-id" name="subject"
                                            th:field="*{subject}"
                                    >
                                        <option th:each="s: ${typesubjectList}" th:text="${s.getName()}"
                                                th:value="${s.getId()}">
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Study Program</label>
                                <div class="col-9">
                                    <select class="form-control" id="studyprogram-id" name="studyprogram"
                                            th:field="*{studyProgram}"
                                    >
                                        <option th:each="s: ${typestudyprogramList}" th:text="${s.getName()}"
                                                th:value="${s.getId()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group m-b-0 text-right">
                                <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                                <button type="button" class="btn btn-dark waves-effect waves-light"onclick="goBack()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
</th:block>

</html>